name: Luacheck
on: [push, pull_request]
jobs:
  luacheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Luacheck linter - LibEME
        uses: lunarmodules/luacheck@v1
        with:
          args: Source/libs/EditModeExpanded-1.0/EditModeExpanded-1.0.lua --no-max-line-length --no-global --ignore 6 self addonName
      - name: Luacheck linter
        uses: lunarmodules/luacheck@v1
        with:
          args: . --exclude-files **/libs/** --no-max-line-length --no-global --ignore 6 self addonName
